@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,600&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  background-color: #fff;
  color: #62646a;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;

a:hover {
  color:#62646a
}

@tailwind components;

.container {
  @apply max-w-[1400px] mx-auto
}


@tailwind utilities;

@layer utilities {

  .cate-list:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    padding: 0 0 8px;
    width: 48px;
    border-bottom: 2px solid #c5c6c9;
    transition: border-color .2s ease-in-out,padding .2s ease-in-out;
  }

  .cate-list:hover:after {
    padding: 0 20px 8px;
    border-color: #1dbf73;
  }

  .word-space-2 {
    word-spacing: 30px;
  }

  .font-playfair {
    font-family: 'Playfair Display', serif;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }

 
    .scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 10px;
    }
  
    /* .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f0f0f0;
      opacity: 0;
    } */
  
    .scrollbar-dark::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,0.3);
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.2);
      border-radius: 100vh;
      height: 10px;
      /* border: 3px solid #f6f7ed; */
      cursor: pointer;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgba(255,255,255,0.5);
    }
  
    .scrollbar::-webkit-scrollbar-track-piece:start {
      background: transparent;
    }
  
    .scrollbar::-webkit-scrollbar-track-piece:end {
      background: transparent;
    }

    .shadow-2 {
      box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%), 0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 / 9%);
    }
  
}

@import '~antd/dist/antd.css';

.ant-menu-horizontal {
  line-height: 41px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #62646a;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-top: -1px;
  margin-bottom: 0;
  padding: 0 0px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #62646a;
}

.ant-menu-light .ant-menu-item:hover, 
.ant-menu-light .ant-menu-item-active, 
.ant-menu-light .ant-menu:not(.ant-menu-inline) 
.ant-menu-submenu-open, 
.ant-menu-light .ant-menu-submenu-active, 
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #62646a;
}

.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {
  position: absolute;
  right: 4px;
  bottom: 0;
  left: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after  {
  border-bottom: #1dbf73 3px solid;
}

.ant-menu-item-group {
  padding: 8px 4px;
  /* padding-left: -16px; */
  /* margin-left: -16px; */
}

.ant-menu-item-group-title {
  height: 1.5715;
  padding: 8px 24px 8px;
  color: #404145;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5715;
  transition: all 0.3s;
}

.ant-menu-item-group-list .ant-menu-item, .ant-menu-item-group-list .ant-menu-submenu-title {
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: #62646a;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 24px;
  text-overflow: ellipsis;
}

.ant-collapse-borderless {
  background-color: #ffffff;
  font-weight: 600;
  color: #62646a;
  font-size: 17px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  /* position: relative; */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* align-items: flex-start; */
  padding: 20px 16px;
  color: #62646a;
  /* line-height: 1.5715; */
  /* cursor: pointer; */
  /* transition: all 0.3s, visibility 0s; */
}

.ant-collapse-content {
  color: #62646a;
  font-weight: 400;
}